.profile__edit-button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 1px solid #fff;
  align-self: end;
  cursor: pointer;
  transition: opacity .5s linear;
  overflow: hidden;
}

.profile__edit-button:hover {
  opacity: .6;
}


@media screen and (max-width: 668px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}